@import "../../styles/variables.scss";

.forecast {
    display: flex;
    min-height: 150px;

    & > svg {
        margin: 0 auto;
    }

    & .accordion {
        width: 100%;
        display: grid;
        grid-row-gap: 10px;
        
        &__item {
            overflow: auto;
            display: grid;
            grid-row-gap: 10px;
        }
    }
}

