@import "../../styles/variables.scss";

.error {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__cod {
        font-size: 32px;
        font-weight: 700;
        color: $error-cod;
    }
}