$accent-color: #2F90FF;
$main-background: radial-gradient(circle, rgba(230,255,228,1) 0%, rgba(227,240,255,1) 100%);
$current-weather-background: linear-gradient(110deg, #67E1D2 , #54A8FF 96.46%3.94%);
$error-cod: #ff1414;
$input-placeholder: #6d6d6d;
$forecast-list-elem-bg: #fefebe;