.wrapper {
    min-height: 100%;
    max-width: 1420px;
    min-width: 315px;
    padding: 15px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
    grid-row-gap: 25px;
}
