@import "../../styles/variables.scss";

.current-weather {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;
    min-height: 250px;

    &__main {
        background: $current-weather-background;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
    }

    &__detail {
        padding: 15px;
        background-color: #FFF;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        & svg {
            position: absolute;
        }
    }
}

.weather-main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;

    & svg {
        position: absolute;
    }

    &__temp {
        font-weight: 700;
        font-size: 72px;
        color: #FFF;
    }

    &__city {
        font-weight: 500;
        font-size: 32px;
        color: #FFF;
    }

    &__date {
        color: #FFF;

        &-day {
            font-size: 24px;
            font-style: italic;
            font-weight: 700;
        }
    }
}

.weather-list {
    list-style: none;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 50px;
    justify-items: center;
    align-items: center;
    height: 100%;
}

.weather-item {
    text-align: center;
}

@media (max-width: 767px) {
    .weather-item {

        &__image {
            width: 20px;;
        }
    }

    .weather-main {
        &__image {
            width: 50px;
        }

        &__temp {
            font-size: 42px;
        }

        &__date {

            &-day {
                font-size: 18px;
            }
        }
    }

    .current-weather {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0;
        grid-row-gap: 24px;
    }
}