@import "../../styles/variables.scss";

.current-weather {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;
    min-height: 250px;

    &__main {
        background: $current-weather-background;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
    }

    &__detail {
        padding: 15px;
        background-color: #FFF;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        & svg {
            position: absolute;
        }
    }
}

@media (max-width: 767px) {
    .current-weather {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0;
        grid-row-gap: 24px;
    }
}