@import "../../../styles/variables.scss";

.forecast-values-list {
    list-style: none;
    border-right: 2px solid $accent-color;
    min-width: 80px;
    
    &__item {
        padding: 5px 10px;
        text-align: center;

        &:nth-child(odd) span {
            background-color: $forecast-list-elem-bg;
            display: block;
        }

        &:not(:last-child) {
            border-bottom: 2px dashed $accent-color;
        }

        &-image {
            width: 40px;
            margin: -5px -10px;
        }
    }
}