@import "../../styles/variables.scss";

.search {
    display: grid;
    grid-template-columns: 1fr 100px;
    grid-column-gap: 50px;

    &__input {
        font-family: "Chakra Petch", Arial, Helvetica, sans-serif;
        font-size: 16px;
        border-radius: 25px;
        padding: 15px;
        border: 1px solid $accent-color;

        &::placeholder {
            font-size: 16px;
            opacity: 1;
            color: $input-placeholder;
        }
    }

    &__button {
        background-color: #FFF;
        border-radius: 10px;
        border: 1px solid $accent-color;
        cursor: pointer;
    }
}

@media (max-width: 480px) {
    .search {
        grid-column-gap: 15px;
        grid-template-columns: minmax(200px, auto) 50px;    
    }
}