@import "../../../styles/variables.scss";

.forecast-description-list {
    list-style: none;
    width: 130px;
    border: 2px solid $accent-color;
}

@media (max-width: 767px) {
    .forecast-description-list {
        width: 50px;
    }
}