@import "../../styles/variables.scss";

.forecast-short {
    background-color: #FFF;
    border: 2px solid $accent-color;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    cursor: pointer;

    &__temp {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 150px;

        & svg {
            width: 28px;
            height: 28px;
        }

        &-box {
            display: flex;
            flex-direction: column;
            text-align: right;
        }
    }
}

@media (max-width: 767px) {
    .forecast-short__temp {
        width: 80px;
    }
}